In [24]:
import pandas as pd
import numpy as np
import datetime as dt
from pandas import DataFrame
from IPython.display import HTML
from datetime import date
import os, sys

In [25]:
# Setting up constants. All required
project = 'codeaction1'
dir_input = "~/data/"
dir_intermediate = "intermediate/"
dir_output = "output/"
file_input = "default.csv"

In [26]:
dir_input + file_input

'~/data/default.csv'

In [27]:
os.getcwd()

'C:\\Users\\Jinda.mei\\Python Scripts\\codeaction1'

In [48]:
df_default_target = pd.read_csv(dir_input + file_input, sep = ';')

In [49]:
df_default_target.columns = ['id_company','date_default_start','date_default_end','year_default']

In [50]:
df_default_target.astype('float64').dtypes

id_company            float64
date_default_start    float64
date_default_end      float64
year_default          float64
dtype: object

   id_company  date_default_start  date_default_end  year_default
0           6               19387           24370.0          2013
1         153               18954           22498.0          2011
2         167               19422           23198.0          2013
3         269               20815               NaN          2016
4         340                7676               NaN          1981

In [52]:
df_default_target['date_default_start'] = pd.to_timedelta(df_default_target['date_default_start'], unit='D') + pd.Timestamp('1960-1-1')

In [53]:
df_default_target['date_default_end'] = pd.to_timedelta(df_default_target['date_default_end'], unit='D') + pd.Timestamp('1960-1-1')

In [54]:
df_default_target.head()

   id_company date_default_start date_default_end  year_default
0           6         2013-01-29       2026-09-21          2013
1         153         2011-11-23       2021-08-06          2011
2         167         2013-03-05       2023-07-07          2013
3         269         2016-12-27              NaT          2016
4         340         1981-01-06              NaT          1981

In [56]:
def read_sas_date(df, field):
      df[field] = pd.to_timedelta(df[field], unit='s') + pd.datetime(1960, 1, 1)
    return df

IndentationError: unindent does not match any outer indentation level (<ipython-input-56-6d012f835a54>, line 3)

In [58]:
df_default_target.shape

(1348, 4)

In [59]:
print(df_default_target.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348 entries, 0 to 1347
Data columns (total 4 columns):
id_company            1348 non-null int64
date_default_start    1348 non-null datetime64[ns]
date_default_end      833 non-null datetime64[ns]
year_default          1348 non-null int64
dtypes: datetime64[ns](2), int64(2)
memory usage: 42.2 KB
None

In [62]:
df_default_target['period'] = df_default_target['year_default'].astype(str)

In [67]:
df_default_target_3Y = df_default_target[(df_default_target.year_default>=2016) & (df_default_target.year_default<=2018)]
df_default_target_2016 = df_default_target[(df_default_target.year_default==2016)]
df_default_target_2017 = df_default_target[(df_default_target.year_default==2017)]
df_default_target_2018 = df_default_target[(df_default_target.year_default==2018)]

In [69]:
df_default_target_3Y.head()

    id_company date_default_start date_default_end  year_default period
3          269         2016-12-27              NaT          2016   2016
39        1616         2016-09-13       2027-02-19          2016   2016
41        1815         2016-07-07       2016-07-28          2016   2016
42        1815         2016-07-21              NaT          2016   2016
44        1994         2018-10-16              NaT          2018   2018

In [71]:
print(df_default_target_3Y.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 3 to 1330
Data columns (total 5 columns):
id_company            154 non-null int64
date_default_start    154 non-null datetime64[ns]
date_default_end      77 non-null datetime64[ns]
year_default          154 non-null int64
period                154 non-null object
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 7.2+ KB
None

In [72]:
default_sum = df_default_target_3Y.groupby('year_default').count()
print(default_sum)

              id_company  date_default_start  date_default_end  period
year_default
2016                  73                  73                41      73
2017                  47                  47                22      47
2018                  34                  34                14      34

In [73]:
df_default_target_2016.to_csv('default_target_2016.csv')
df_default_target_2017.to_csv('default_target_2017.csv')
df_default_target_2018.to_csv('default_target_2018.csv')